<ion-card>
  <ion-card-content>
    <ion-card-header class="header">

        <div class="container">
            <div class="ion-text-wrap">
                <gp-avatar height="70px" width="70px" [verified]="professional?.isVerified" [profilePicture]="professional?.profilePicture" iconRatio="30%"></gp-avatar>
            </div>
            <div class="title-container">
                <h1 class="title">{{professional?.firstName}} {{professional?.lastName}}</h1>
                <h2 class="subtitle">{{getProfession(professional?.profession)}}</h2>
            </div>
        </div>

        
    </ion-card-header>

    <div class="description">{{professional?.description}}</div>

  </ion-card-content>
</ion-card>
