.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-container {
    position: relative;
    overflow: hidden;
}

.header {
  padding-inline: 0;
  padding-top: 0;
  padding-bottom: 10px;
  ion-col {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

ion-grid {
  padding: 0;
}

.md ion-grid {
    margin-inline: 0;
}

.title {
  padding-left: 10px;
  /* Remove white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* Set a maximum width to allow the title to adapt */
  color: var(--ion-color-light-contrast);
}
.title {
  font-size: 1.75rem;
  font-weight: 700;
}

.subtitle { 
  padding-left: 10px;
  font-size: 0.8rem;
  font-weight: 700;
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2; /* Numero di righe massime */
  line-clamp: 2;
  text-overflow: ellipsis;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
}
