<ion-header>
    <ion-toolbar>
        <ion-title>
            Ricerca Professionista
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="light">

    <ion-list [inset]="true">

        <ion-item fill="outline" shape="round">
            <p [style.margin-bottom]="'0px'"><strong>Professione</strong></p>
            <ion-label position="floating" [style.margin-top]="'0px'">
                <ion-text>Seleziona una professione</ion-text>
            </ion-label>
            <ion-select [(ngModel)]="desiredProfession">
                <ion-select-option [value]="0">Medico</ion-select-option>
                <ion-select-option [value]="1">Infermiere</ion-select-option>
                <ion-select-option [value]="2">Fisioterapista</ion-select-option>
                <ion-select-option [value]="3">Badante</ion-select-option>
                <ion-select-option [value]="4">Altro</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <ion-list [inset]="true">
        <ion-item>
            <ion-label>
                <strong>Modalità di erogazione</strong>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox justify="space-between" [(ngModel)]="shortTimeJob">Saltuario</ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-checkbox justify="space-between" [(ngModel)]="longTimeJob">Lungo Termine</ion-checkbox>
        </ion-item>
    </ion-list>

    <ion-list [inset]="true">
        <ion-item lines="none">
            <ion-label>
                <strong>Disponibilità</strong>
            </ion-label>
        </ion-item>
        <gp-availability-selector (timeSlotsChange)="timeSlots = $event"></gp-availability-selector>
    </ion-list>

    <ion-list [inset]="true">
        <ion-item>
            <ion-label>
                <strong>Valutazione minima</strong>
            </ion-label>
        </ion-item>
        <ion-item [style.justify-items]="'cw'">
            <ul class="list-inline rating-list" *ngFor="let star of stars; let i= index">
                <li (click)="countStar(star)" [ngClass]="{'selected' : (star <= desiredRating)}"
                    (mouseover)="addClass(star)" (mouseout)="removeClass()">
                    <ion-icon name="star"></ion-icon>
                </li>
            </ul>
        </ion-item>
    </ion-list>

    <ion-list [inset]="true">
        <ion-item>
            <ion-label>
                <strong>Sesso</strong>
            </ion-label>
            <ion-select [multiple]="true" [(ngModel)]="desiredGender">
                <ion-select-option [value]="0">Uomo</ion-select-option>
                <ion-select-option [value]="1">Donna</ion-select-option>
                <ion-select-option [value]="2">Altro</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>
                <strong>Età</strong>
            </ion-label>
            <ion-range [dualKnobs]="true" [min]="20" [max]="80" [value]="desiredAge" [pin]="true"
                (ionChange)="updateRange($event)" [ticks]="true"></ion-range>
        </ion-item>
    </ion-list>


    <ion-button [style.display]="'flex'" [style.align-items]="'center'" [style.padding]="'1rem'"
        color="primary" (click)="search()">Cerca</ion-button>

</ion-content>