<ion-header>
  <ion-toolbar>
    <ion-title>
      Prenotazione
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">


  <h1>
    Effettua una prenotazione
  </h1>

  <ion-list [inset]="true" *ngIf="timeTable">
    <ion-item>
      <ion-datetime [isDateEnabled]="isAvailable" [min]="minDate" [max]="maxDate" display="fixed" presentation="date"
        [style.width]="'100%'" locale="it-IT" [(ngModel)]="desiredDate"
        (ionChange)="onDateChange($event)"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Ora di inizio</ion-label>
      <ion-button  color="#edeef0" style="margin-right: -2px;" slot="end" id="start-hour" locale="it-IT" [disabled]="!desiredDate" >{{ start.split(':')[0] + ':' }}</ion-button>
      <ion-modal [keepContentsMounted]="true" trigger="start-hour">
        <ng-template>
          <ion-datetime [hourValues]="selectableStartHours()" [minuteValues]="[]"
            locale="it-IT" presentation="time" [showDefaultButtons]="true" [(ngModel)]="start" (ionChange)="onStartHourSetChange($event)"></ion-datetime>
        </ng-template>
      </ion-modal>
  
      <ion-button color="#edeef0" style="margin-left: -5px;" slot="end" id="start" locale="it-IT" [disabled]="startNotSet">{{ start.split(':')[1] }}</ion-button>
      <ion-modal [keepContentsMounted]="true" trigger="start">
        <ng-template>
          <ion-datetime [hourValues]="[]" [minuteValues]="selectableStartMinutes()"
            locale="it-IT" presentation="time" [showDefaultButtons]="true" [(ngModel)]="start" (ionChange)="onTimeStartChange($event)"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item>
      <ion-label>Ora di fine</ion-label>
      <ion-button color="#edeef0" style="margin-right: -2px;" slot="end" id="end-hour" locale="it-IT" [disabled]="isNotAvailable">{{ end.split(':')[0] + ':'}}</ion-button>
      <ion-modal [keepContentsMounted]="true" trigger="end-hour">
        <ng-template>
          <ion-datetime [hourValues]="selectableEndHours()" [minuteValues]="[]" locale="it-IT"
            presentation="time" [showDefaultButtons]="true" [(ngModel)]="end" (ionChange)="onEndHourSetChange($event)"></ion-datetime>
        </ng-template>
      </ion-modal>
    
      <ion-button color="#edeef0" style="margin-left: -5px;" slot="end" id="end" locale="it-IT" [disabled]="endNotSet">{{ end.split(':')[1] }}</ion-button>
      <ion-modal [keepContentsMounted]="true" trigger="end">
        <ng-template>
          <ion-datetime [hourValues]="[]" [minuteValues]="selectableEndMinutes()"
            locale="it-IT" presentation="time" [showDefaultButtons]="true" [(ngModel)]="end"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

  </ion-list>

  <div class="buttons-container">
    <ion-button [style.padding-right]="'1em'" fill="outline" (click)="navigateBack()">Annulla</ion-button>
    <ion-button color="primary" (click)="confirmReservation()">Conferma</ion-button>
  </div>

</ion-content>