<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrazione</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="'true'">

  <h1>
    Completa la tua registrazione
  </h1>

  <ion-list [inset]="true">

    <!--Take Photo-->
    <gp-image-selector (profilePicture)="customer.profilePicture = $event"></gp-image-selector>

    <h2 [style.text-align]="'center'" [style.font-weight]="'bold'">Inserisci i dati dell'assistito</h2>

    <ion-item>
      <ion-input label="Nome" label-placement="floating" type="text" [(ngModel)]="customer.elderFirstName"
        required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Cognome" label-placement="floating" type="text" [(ngModel)]="customer.elderLastName"
        required></ion-input>
    </ion-item>

    <!--
    <ion-item>
      <ion-select label="Sesso" labelPlacement="floating" [(ngModel)]="customer.elderGender" required>
        <ion-select-option value="Uomo">Uomo</ion-select-option>
        <ion-select-option value="Donna">Donna</ion-select-option>
        <ion-select-option value="Altro">Altro</ion-select-option>
      </ion-select>
    </ion-item>


    <!-- <ion-item>
      <ion-input label="Email" label-placement="floating" [(ngModel)]="customer.email" required email></ion-input>
    </ion-item> -->

    <ion-item>
      <ion-input label="Cellulare" [maskito]="phoneMask" [maskitoElement]="maskPredicate" placeholder="+39 xxx xxx xxxx"
        label-placement="floating" [(ngModel)]="customer.elderPhoneNumber" required></ion-input>
    </ion-item>

    <!--Select Address-->
    <gp-address-selector [(address)]="customer.elderAddress!"></gp-address-selector>

    <!--Select Birthdate-->
    <gp-birthdate-selector [(birthdate)]="customer.elderBirthDate"></gp-birthdate-selector>

    <ion-item>
      <ion-textarea label="Descrizione" label-placement="floating" placeholder="Inserisci necessità particolari"
        type="text" [rows]="1" [autoGrow]="true" [(ngModel)]="customer.elderDescription" maxlength="200"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-toggle justify="start" labelPlacement="end" [style.margin-top]="'1rem'" [ngModel]="!customer.isElder"
        (ngModelChange)="customer.isElder = !$event">
        Non sono l'assistito
      </ion-toggle>
    </ion-item>

    <div *ngIf="!customer.isElder">
      <h2 [style.text-align]="'center'" [style.font-weight]="'bold'">Inserisci i dati del tutore</h2>

      <ion-item>
        <ion-input label="Nome" label-placement="floating" type="text" [(ngModel)]="customer.firstName"
          required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Cognome" label-placement="floating" type="text" [(ngModel)]="customer.lastName"
          required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Cellulare" [maskito]="phoneMask" [maskitoElement]="maskPredicate"
          placeholder="+39 xxx xxx xx xx" label-placement="floating" [(ngModel)]="customer.phoneNumber"
          required></ion-input>
      </ion-item>

    </div>
    <div class="buttonContainer">
      <ion-button expand="block" size="large" (click)="completeCustomerProfile()">Completa</ion-button>
    </div>


  </ion-list>

</ion-content>