<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Registrazione</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="'true'">

  <h1>
    Completa la tua registrazione
  </h1>

  <ion-list [inset]="true">

    <div *ngIf="!imageSelected; else showImage;" class="imageContainer">
      <ion-button size="medium" (click)="takePicture()">Inserisci una tua foto</ion-button>
    </div>
    <ng-template #showImage>
      <div class="imageContainer">
        <ion-button fill="none" (click)="takePicture()">
          <img [style.border-radius]="'100%'" [style.height]="'10em'" [style.width]="'10em'" [style.object-fit]="'cover'" [src]="customer.profilePicture">
        </ion-button>
      </div>
    </ng-template>

    <ion-item>
      <ion-input label="Nome" label-placement="floating" type="text" [(ngModel)]="customer.firstName"
        required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Cognome" label-placement="floating" type="text" [(ngModel)]="customer.lastName"
        required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Email" label-placement="floating" [(ngModel)]="customer.email" required email></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Cellulare" [maskito]="phoneMask" [maskitoElement]="maskPredicate"
        placeholder="+39 xxx xxx xx xx" label-placement="floating" [(ngModel)]="customer.phoneNumber"
        required></ion-input>
    </ion-item>

    <ion-item id="open-address-settings" [button]="true">
      <ion-input label="Indirizzo" label-placement="floating" type="text" [(ngModel)]="addressString"
        required></ion-input>
    </ion-item>

    <ion-modal #modal trigger="open-address-settings">
        <ng-template>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss()">Chiudi</ion-button>
            </ion-buttons>
            <ion-title [style.align-items]="'center'">Indirizzo</ion-title>
            <ion-buttons slot="start">
              <ion-button color="primary" fill="clear" (click)="submitCustomerAddress()">Salva</ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-list>
            <ion-item>
              <ion-input label="Via/Viale" label-placement="floating" type="text" [(ngModel)]="customer.elderAddress.Street"
                required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Numero civico" label-placement="floating" type="text"
                [(ngModel)]="customer.elderAddress.StreetNumber" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Città" label-placement="floating" type="text" [(ngModel)]="customer.elderAddress.City"
                required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="CAP" label-placement="floating" [(ngModel)]="customer.elderAddress.ZipCode"
                required></ion-input>
            </ion-item>
          </ion-list>
        </ng-template>
      </ion-modal>

    <ion-item id="open-modal">
      <ion-input label="Data di nascita" label-placement="floating" [(ngModel)]="customer.birthDate"
        required></ion-input>
    </ion-item>

    <ion-modal trigger="open-modal">
      <ng-template>
        <ion-datetime locale="it-IT" [presentation]="'date'" (ionChange)="setCustomerBirthdate($event)"
          showDefaultButtons="true" (ionCancel)="showPicker=false;"></ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-item>
      <ion-textarea label="Descrizione" label-placement="floating" placeholder="Inserisci necessità particolari"
        type="text" [rows]="1" [autoGrow]="true" [(ngModel)]="customer.elderDescription" maxlength="200"></ion-textarea>
    </ion-item>

    <ion-item>
        <ion-toggle justify="start" labelPlacement="end" [style.margin-top]="'1rem'" [ngModel]="!customer.isElder" (ngModelChange)="customer.isElder = !$event">
            Non sono l'assistito
        </ion-toggle>
    </ion-item>

    <div *ngIf="!customer.isElder">
      <h2 [style.text-align]="'center'" [style.font-weight]="'bold'">Inserisci i dati dell'assistito</h2>

      <ion-item>
        <ion-input label="Nome" label-placement="floating" type="text" [(ngModel)]="customer.elderFirstName"
          required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Cognome" label-placement="floating" type="text" [(ngModel)]="customer.elderLastName"
          required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Cellulare" [maskito]="phoneMask" [maskitoElement]="maskPredicate"
          placeholder="+39 xxx xxx xx xx" label-placement="floating" [(ngModel)]="customer.elderTelephoneNumber"
          required></ion-input>
      </ion-item>


      <ion-item id="open-modal-elder">
        <ion-input label="Data di nascita" label-placement="floating" type="text" [(ngModel)]="customer.elderBirthDate"
          required>
        </ion-input>
      </ion-item>

      <ion-modal trigger="open-modal-elder">
        <ng-template>

          <ion-datetime locale="it-IT" [presentation]="'date'" (ionChange)="setElderBirthdate($event)"
            showDefaultButtons="true" (ionCancel)="showPicker=false;"></ion-datetime>

        </ng-template>
      </ion-modal>
      


    </div>
    <div class="buttonContainer">
      <ion-button expand="block" size="large">Completa</ion-button>
    </div>


  </ion-list>

</ion-content>